@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #111;
}

main {
  position: relative;
}
main .header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
main .header .logo {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
main .header .toggle img {
  max-width: 40px;
  cursor: pointer;
}
main .banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient();
  z-index: 100;
  background: linear-gradient(to top, #111, transparent);
}
main .banner .content {
  position: relative;
  z-index: 1000;
  max-width: 900px;
  text-align: center;
}
main .banner .content h2 {
  color: #fff;
  font-size: 5em;
}
main .banner .content p {
  color: #fff;
  font-size: 1.2em;
}
main .banner .fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
main .about {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about .contentBx {
  min-width: 50%;
  width: 50%;
  text-align: end;
  padding-right: 40px;
}
main .about .contentBx .tittleText {
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}
main .banner2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner2 .fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
main .banner2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
  background: linear-gradient(to top, #111, transparent);
}
main .banner2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
  background: linear-gradient(to bottom, #111, transparent);
}
main .destination {
  text-align: justify;
  color: #fff;
  text-align: center;
}
main .destination .content {
  text-align: center;
}
main .destination .destinationList {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
main .destination .destinationList:hover .box {
  opacity: 0.2;
}
main .destination .destinationList .box {
  position: relative;
  min-width: 350px;
  height: 450px;
  background: red;
  transition: 0.5s;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}
main .destination .destinationList .box:hover {
  opacity: 1;
}
main .destination .destinationList .box .imgBx {
  position: relative;
  width: 100%;
  height: 400px;
}
main .destination .destinationList .box .content {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .destination .destinationList .box .content h3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(40, 50, 45, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 100%;
  height: 17%;
  bottom: 0;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
main .destination .destinationList .box .content h3 span {
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
  opacity: 0.5;
}
main .banner3 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner3 .fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
main .banner3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
  background: linear-gradient(to top, #111, transparent);
}
main .banner3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
  background: linear-gradient(to bottom, #111, transparent);
}
main footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main footer .sci {
  position: relative;
  display: flex;
}
main footer .sci li {
  list-style: none;
}
main footer .sci li a {
  text-decoration: none;
  margin: 0 20px;
}
main footer .sci li a img {
  filter: invert(1);
  max-width: 45px;
}
main footer .sci li a img:hover {
  transform: rotate(-0.03turn);
  filter: drop-shadow(0 30px 20px rgb(141, 76, 133)) invert(75%);
}
main footer .copyright {
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  color: #666;
  text-align: center;
}
main footer .copyright a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

section {
  padding: 10px;
}

a.btn {
  position: relative;
  display: inline-block;
  background: #fff;
  color: #111;
  padding: 8px 30px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  transition: all 0.5s ease;
}
a.btn:hover {
  transform: scale(0.98);
}

.text {
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
}

.imgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 600px) {
  section {
    padding: 20px;
  }
  main .banner .content h2 {
    font-size: 2.5em;
  }
  main .banner .content p {
    font-size: 1em;
  }
  main .about {
    flex-direction: column;
  }
  main .about .contentBx {
    width: 100%;
    min-width: 100%;
    text-align: center;
    padding-right: 0px;
  }
  main .about .imgBx {
    position: relative;
    min-width: 100%;
    width: 100%;
    padding-right: 0px;
    top: 30px;
  }
  main footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main footer .sci {
    position: relative;
    display: flex;
  }
  main footer .sci li {
    list-style: none;
  }
  main footer .sci li a {
    text-decoration: none;
    margin: 0 15px;
  }
  main footer .sci li a img {
    filter: invert(1);
    max-width: 30px;
  }
  main footer .sci li a img:hover {
    transform: rotate(0.05turn);
  }
  main footer .copyright {
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    color: #666;
    text-align: center;
  }
  main footer .copyright a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #272928;
}

::-webkit-scrollbar-thumb {
  background: rgb(73, 77, 174);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(170, 75, 75);
}/*# sourceMappingURL=styles.css.map */