@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
}

main {
  position: relative;
}
main .header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
main .header .logo {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
main .header .toggle img {
  max-width: 40px;
  cursor: pointer;
}
main .banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient();
  z-index: 100;
  background: linear-gradient(to top, #111, transparent);
}
main .banner .content {
  position: relative;
  z-index: 1000;
  max-width: 900px;
  text-align: center;
}
main .banner .content h2 {
  color: #fff;
  font-size: 5em;
}
main .banner .content p {
  color: #fff;
  font-size: 1.2em;
}
main .banner .fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
main .about {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about .contentBx {
  min-width: 50%;
  width: 50%;
  text-align: end;
  padding-right: 40px;
}
main .about .contentBx .tittleText {
  font-weight: 600;
  color: #fff;
  font-size: 2em;
  margin-bottom: 10px;
}
main .about .contentBx .text {
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
}
main .about .imgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
  background: red;
}
main .about .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .banner2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner2 .fitBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
main .banner2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
  background: linear-gradient(to top, #111, transparent);
}
main .banner2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1000;
  background: linear-gradient(to bottom, #111, transparent);
}

a.btn {
  position: relative;
  display: inline-block;
  background: #fff;
  color: #111;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  transition: all 0.5s ease;
}
a.btn:hover {
  transform: scale(0.98);
}/*# sourceMappingURL=styles.css.map */